/* @import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"); */

:root {
    --c0-dark-grey: rgb(23, 33, 43);
    --c1-green: rgb(50, 255, 126);
    --c2-pink: #fc427b;
    --c3-orange: #ff793f;
    --c4-blue: rgb(41, 128, 185);
    --c6-red: #ff2121;
}

body,
code,
input {
    font-family: Consolas, Monaco, Menlo, Courier, monospace;
}
.button {
    font-family: Consolas, Monaco, Menlo, Courier, monospace;
}

h1,
h2,
h3,
th {
    font-family: "Permanent Marker", Consolas, Monaco, Menlo, Courier, monospace;
}

body {
    background-color: var(--c0-dark-grey);
    color: var(--c1-green);
    font-weight: bold;
    font-size: 3px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 0.3rem;
    margin-top: 5px;
    touch-action: pan-x pan-y;
    height: 100%;
}

a {
    color: var(--c2-pink);
    text-decoration: none;
    cursor: pointer;
}

a:hover,
a:active {
    color: var(--c3-orange);
    font-weight: bold;
}

h1,
h2,
h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-weight: bold;
    font-size: 2rem;
}

h2 {
    margin: 5px;
    font-size: 1.5rem;
}

h3 {
    font-size: 0.8rem;
}

p {
    font-size: 0.8rem;
    line-height: 1.3rem;
    margin: 10px;
    font-weight: lighter;
}

ul.no-bullet {
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
}

li {
    margin-top: 5px;
    font-size: 0.75rem;
}

table {
    margin-bottom: 0px;
    text-align: center;
    border-collapse: collapse;
}

th,
td {
    border-bottom: 1px solid var(--c4-blue);
    font-size: 12px;
    line-height: 16px;
    padding: 10px;
}

tr:hover {
    color: var(--c3-orange);
}

.table-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.vertical-align {
    vertical-align: middle;
}

#main {
    display: flex;
    margin: 0 10px 0 10px;
}

#sidebar {
    min-width: 350px;
    flex: 1;
    margin-right: 15px;
    box-sizing: border-box;
}

#plot {
    width: 100%;
    height: 600px;
}

#nav {
    margin-top: 20px;
}

#landing {
    width: 100%;
}

#top-bar {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto 1fr;
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
}

.link-icon {
    font-size: 20px;
    margin: 0.4rem;
    margin-bottom: 0px;
    margin-top: 0px;
}

.text-link {
    line-height: 20px;
    font-size: 13px;
}

.button {
    color: var(--c2-pink);
    background-color: var(--c0-dark-grey);
    border: none;
    font-size: 0.6rem;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.button:hover {
    color: var(--c3-orange);
    font-weight: bold;
}

.text {
    font-weight: bold;
    font-size: 0.8rem;
}

.small-icon {
    font-size: 0.75rem;
}

.message p {
    margin: 0px;
    font-size: 0.7rem;
}

.red {
    color: var(--c6-red);
    font-weight: bolder;
}

.border {
    margin: 5px;
    padding: 5px;
    border: 1px solid var(--c4-blue);
    border-radius: 10px;
}

.label {
    width: 100%;
    font-size: 0.6rem;
    margin-left: 5px;
    opacity: 1;
    white-space: nowrap;
}

.card-header {
    display: grid;
    grid-template-columns: auto 1fr;
}

.grid-cols-1 {
    display: grid;
    grid-template-columns: 1fr;
}

.grid-cols-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-cols-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-cols-6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

/********************
  INPUT
 ********************/

input {
    border: 1px solid var(--c4-blue);
    background-color: var(--c0-dark-grey);
    color: var(--c1-green);
    font-size: 0.6rem;
    text-align: justify;
    font-weight: bolder;
    margin-bottom: 10px;
    width: 95%;
    height: 2rem;
    box-sizing: border-box;
    border-radius: 10px;
    box-sizing: border-box;
    padding-right: 7px;
    text-align: right;
}

input:hover,
input:active {
    color: var(--c2-pink);
    border: 2px solid var(--c3-orange);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/********************
  SLIDER
 ********************/

.slider-container {
    margin: 5px;
}

.slider {
    background: var(--c2-pink);
    -webkit-appearance: none;
    height: 4px;
    border: 0px;
    border-radius: 5px;
    outline: none;
    margin: 6px;
}

.slider:hover,
.slider:active {
    background: var(--c3-orange);
    height: 8px;
    margin: 4px;
}

.slider::-webkit-slider-thumb {
    background: rgb(46, 204, 113);
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    border: 0;
}

.slider::-moz-range-thumb {
    background: var(--c1-green);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    border: 0;
}

/********************
  SWITCH
 ********************/

.switch-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.switch {
    border: 1px var(--c1-green);
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch + .label {
    cursor: pointer;
    width: unset;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The toggle switch */
.toggle-switch-widget {
    background-color: var(--c2-pink);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.toggle-switch-widget:before {
    background-color: var(--c0-dark-grey);
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .toggle-switch-widget {
    background-color: var(--c1-green);
}

input:focus + .toggle-switch-widget {
    box-shadow: 0 0 0;
}

input:checked + .toggle-switch-widget:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.toggle-switch-widget.round {
    border-radius: 17px;
}

.toggle-switch-widget.round:before {
    border-radius: 50%;
}

@media screen and (max-width: 900px) {
    .input {
        font-size: 0.7rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    #sidebar {
        min-width: 325px;
    }

    #plot {
        width: 100%;
        height: 300px;
        min-width: 250px;
    }

    th,
    td {
        font-size: 10px;
        line-height: 15px;
        padding: 10px;
    }
}

@media screen and (orientation: portrait) {
    .input {
        font-size: 1rem;
    }

    #main {
        flex-direction: column-reverse;
        margin: 0;
    }

    #sidebar {
        max-width: 600px;
        width: 90%;
        min-width: 290px;
        margin: 0 auto;
    }

    #plot {
        width: 100%;
        height: 400px;
        box-sizing: border-box;
        margin: 0;
        margin-top: 5px;
    }
}

@media screen and (max-width: 667px) and (orientation: landscape) {
    #top-bar {
        display: none;
    }

    #main {
        flex-direction: column-reverse;
        margin: 0;
    }

    #sidebar {
        min-width: 225px;
        margin: 0 auto;
    }

    #plot {
        margin: 8px auto 0;
        width: 90%;
        height: 275px;
        min-width: 250px;
    }

    table {
        margin: 5px;
    }

    th,
    td {
        padding: 3px;
        font-size: 8px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (min-height: 625px) and (min-width: 900px) {
    #sidebar {
        min-height: 600px;
    }
}

@media screen and (max-width: 767px) {
    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="tel"],
    input[type="password"] {
        font-size: 16px;
    }
}
